html, body {
  height:100%;
}
.fill {
  height: 100%;
  overflow: hidden;
}

.header {
	border-bottom: solid black thin;
	height: 40px;
	vertical-align: middle;
}

.ice {
	background-color: #5DADE2;
}

.in-progress {
	background-color: #F4D03F;
}

.success {
	background-color: #2ECC71;
}
