#timer-container {
	width:100%;
	padding:0;
	font-size:16px;
	font-weight:300;
	margin:0;
	padding:0;
}

.time {
	font-size: 40px;
}

.startstop {
	font-size: 25px;
}

.target-des {
	font-size: 20px;
}
